<mapper namespace="com.zhul.dao.IUserDao">

    <select id="findAll" resultType="com.zhul.pojo.User">
        select * from user
    </select>

    <select id="findByCondition" paramterType = "com.zhul.pojo.User" resultType="com.zhul.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>



</mapper>